# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/Assets/AssetStoreTools*

# Chỉ theo dõi Assets
/*/
!/Assets/

# System files
.DS_Store
Thumbs.db
*.vsconfig