
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/Assets/AssetStoreTools*

/*/
!/Assets/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb


.DS_Store
Thumbs.db
desktop.ini
/[Pp]ackages/
/[Pp]ackage[Cc]ache/


*.bak
*.cache
*.log
*.swp
*.swo